<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	
	<title>title</title>
	<link rel = "stylesheet" href = "/css/bootstrap.css">
</head>
<body>
   <div th:fragment="core">
		<ul th:with="category = ${structure}">
			<h1 th:text="${category.getCatName()}"></h1> <!--Apparently thymeleaf will call getters/setters automatically if they follow some "format", but for this call getter-->
			<div th:if="${category.getCatDescriptor()}">
				<h4 th:text="${category.getCatDescriptor()}"></h4>
			</div>
			<div class = "row">
				<li th:each="item : ${category.getItems()}">
					<div class="col-sm-2">
						<strong th:text="${item.getLabel()}"></strong> <a th:href="@{${item.getUrl()}}" th:text = "${item.getItemName()}"></a>
					</div>
				</li>
				<div th:each="child : ${category.getChildCategories()}" th:with="structure = ${child}" th:include="this :: core"></div>
			</div>
		</ul>
   </div>
</body>
</html>