<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	
	<title>title</title>
</head>
<body>
   <div th:fragment="core">
		<div class = "container">
			<div th:with = "category = ${structure}, currLevel = ${level}">
				
				
				<div th:if = "${currLevel} != 0"> 
					<div th:if = "${currLevel} == 1"><h1 th:text = "${category.getCatName()}"></h1> </div>
					<div th:if = "${currLevel} == 2"><h2 th:text = "${category.getCatName()}"></h2> </div>
					<div th:if = "${currLevel} == 3"><h3 th:text = "${category.getCatName()}"></h3> </div>
					<div th:if = "${currLevel} == 4"><h4 th:text = "${category.getCatName()}"></h4> </div>
					
					<div th:if = "${category.getCatDescriptor()}">
						<div class = "text-muted" th:text = "${category.getCatDescriptor()}"></div>
					</div>
					
					<div class = "category">
					</div>
	
					
					<div th:each = "row : ${category.getItems()}">
						<div class = "row">
							<div th:each = "item : ${row}" th:remove = "tag"> <!-- Remove this tag else it will create a <div> between row div and col div, which breaks col div/doesn't work-->
								<div class = "col-sm-2">
									<li class = "list-item">
										<div class = "align-middle item-label text-left font-weight-light text-nowrap" th:text = "${item.getLabel()}"></div>
										<a class = "item-link align-middle text-nowrap" th:href = "@{${item.getUrl()}}" th:text = "${item.getItemName()}"></a>									
										
									</li>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				<div th:each="child : ${category.getChildCategories()}" th:with = "structure = ${child}, level = ${level} + 1" th:include = "this :: core"></div>
			</div>
		</div>
   </div>
</body>
</html>