.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.footer-header {
	padding-left: 5px;
	display:inline;
}

.deis-bg-color {
	background-color: #003478;
}

.deis-color {
	
}


.container-fluid::after {
  content:'';
  display: table;
  clear: both;
}

.header {
	padding: 20px 0;
	float: left;
	color: #ffffff;
	font-size: 30px;
	background:#003478; 
}

.nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li{
	display: inline-block;
	margin-left: 70px;
	margin-right: 35px;
	padding-top: 0px;
	position: relative;
}

.header-nav {
	float: right;
}

.nav a{
	font-weight: 300;
	font-size: 15px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover{
	color: #ffffff;
}

.nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: #ffffff;
	position: relative;
	top: 50px;
	width: 0%;
	transition: all ease-in-out 250ms;
}

.nav a:hover::before{
	width: 100%;
}


.site-footer {
	background-color: #797a7c;
	color: #fff;
	margin-top: 0px;
	padding-top: 5px; 
}

.bottom-footer {
	border-top: 1px solid #fff;
	margin-top: 0px;
	padding-top: 10px;

}

.bottom-footer a {
	color: #fff;
}

.footer-nav {
	text-align:  right;
	list-style: none;
}

.footer-nav li {
	display:inline;
}

.footer-nav li:not(:first-child):before {
	content: '|';
	padding: 0px 10px;
}

.category {
	border-bottom: 1px solid #212529;
}

.logo {
	padding-left: 15px;
	display: inline-block;
}

.item-label {
	display: inline-block;
	width: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-link {
	
}

.list-item {
	list-style-type: none;
}

